// Define variables for your color scheme

// MAIN
$blue: #409DE5;
$white: #FCF7F8;
$gray: #3C3542;
$black: #231B28;


// UTILITY
$red: #F74F4F;
$yellow: #F7DC4F;
$green: #99E250;
$orange: #E67E22;
$light-gray: #FAFAFA;
