.bookings {
  h2.course-status {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }

  .indicator {
    font-size: 0.9rem;
    margin-right: 20px;

    &.booked {
      color: $green;
    }

    &.pending {
      color: $yellow;
    }

    &.cancelled {
      color: $red;
    }
  }
}

.card-course-infos.booking-card {
  flex-direction: column;

  & > div {
    width: 100%;
  }

  .booking-info {
    & > p {
      padding: 3px 0;
      font-size: 1rem;
    }
  }

  .edit-options {
    padding: 0;
    margin-top: 15px;
  }

  .card-course-title > h2 {
    max-width: 100%;
  }
}
