<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)), url(<%= image_path('banner-home.jpg') %>);">
  <div class="container">
    <h1>Learn. Share. Connect.</h1>
    <p>STMatch connects local teachers and students with each other to facilitate a unique learning experience.</p>
    <!-- need user signed in check here to change button feature -->

    <% if user_signed_in? %>
      <a class="btn btn-primary btn-lg px-4 mt-3" href="#">Add a course</a>
    <% else %>
      <a class="btn btn-primary btn-lg px-4 mt-3" href="#">Sign up</a>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row py-5">
    %<% @courses.each do |course| %>
    <div class="col-lg-4 col-md-12">
      <div class="card-course">
        <%= render 'shared/card', course: course %>
      </div>
    </div>
    <% end %>
  </div>
</div>
