.banner {
  background-size: cover;
  background-position: center 85%;
  background-repeat: no-repeat;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: $white;
  text-shadow: $text-shadow;
}

.banner p {
  font-size: 1.2rem;
  max-width: 600px;
  color: $white;
  margin: 10px auto;
  text-shadow: $text-shadow;
}
