.navbar-lewagon {
  padding: 5px 0;
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: $box-shadow;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  form {
    align-self: center;
  }

  .search {
    height: 30px;
  }

  input:not(.btn) {
    height: 30px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
    padding: 0 10px;
  }

  .nav-link {
    transition: all 0.2s ease-in;
    &:hover {
      color: $blue !important;
    }
  }
}
