.navbar-lewagon {
  padding: 5px 0;
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: $box-shadow;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }
}
